QMainWindow {
    background-color: #3C3F41
}

QMenuBar {
    background-color: #3C3F41
}

QWidget#MainWindow {
    background-color: #3C3F41
}

QWidget#codeWidget {
    background-color: #2B2B2B
}

QPlainTextEdit {
    color: #A9B7C6;
    background-color: #2B2B2B
}

QMenu {
    background-color: #3C3F41;
    color: #A9B7C6;
    border-style: solid;
    border-width: 1px;
    border-color: #515151
}

QPushButton {
    background-color: #3C3F41;
    border-style: outset;
    color: #A9B7C6;
}

QPushButton:pressed {
    background-color: #4B6EAF;
}

QScrollBar {
    border: 0px;
    background: solid #3C3F41;
    width: 20px;
    margin: 0px 0px 0px 0px;
}